# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# macOS metadata
.DS_Store

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# Logs
*.log

# Environment variables or secrets
.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Database files
*.sqlite3
