python-multipart
ffmpeg-python
faster-whisper==0.10.0
fastapi==0.110.0
uvicorn[standard]==0.29.0
huggingface_hub[hf_xet]
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
